@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

body{
  min-height: 100vh;
  background-color: #fcfcfc;
}

a{
  text-decoration: none;
  color: inherit;
}

hr{
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}

.app-content{
  display: flex;
}


/* Main page area */
.page-content {
  margin-left: 260px; /* SAME as sidebar width */
  padding: 24px;
  width: calc(100% - 260px);
  min-height: 100vh;
  background-color: #f8fafc;
  transition: all 0.3s ease;
}

/* Mobile responsive */
@media (max-width: 768px) {
  .page-content {
    margin-left: 0;
    width: 100%;
  }
}
