.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 39px 5.3%;
    background: linear-gradient(150deg, #0f172a, #020617);
}

.navbar .logo{
    width: max(12%,110px);
}

.navbar .profile{
    width: 70px;
}